name: Hexo Blog CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install Dependencies and Build
      run: |
        npm install -g hexo-cli
        npm install
        hexo clean
        hexo generate  # 此命令会生成静态文件到 'public' 文件夹
        # 如果你使用了其他构建工具（如Maven、Webpack），请替换此处的构建命令

    - name: Configure OSS
      uses: manyuanrong/setup-ossutil@master
      with:
        endpoint: "oss-cn-hangzhou.aliyuncs.com"
        access-key-id: ${{ LTAI5tSATwbpKT3obZxzvdK5 }}
        access-key-secret: ${{ SFDQ75YLYFR1pCu6vUFJnryI9sQ55w }}

    - name: Upload to OSS
      run: ossutil cp -rf public oss://dsb666-test-1-2/  # 上传构建生成的'public'目录